{% extends "base.html" %}

{% block title %}
Login Here
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}


<div class="login-wrapper">
  <div class="login">
    <div class="login-left">
      <form id="register-form" method="POST" class="form-group">
        <h1>Sign in to your account</h1>
        <p class='mb-5'>Sign into your account to begin taking practice exams and accessing your score reports.</p>
           {% csrf_token %}
           {{form|crispy}}
        <!-- <p style='margin-top: -20px;'><a href="#" style='color: black; font-size: 14px;'>Forgot Password?</a></p>-->
        <button id="register-button" type="submit" class="btn btn-success">Sign in</button>
        <p style='clear: both; color: black; font-size: 17px; font-family: "Trade Gothic LT W05 Roman'>Not Registered? <a href="/register" style='font-size: 16px; font-weight: 900'>Sign up</a></p>
      </form>
      <script>
        $('#id_username').attr('placeholder', 'Username*');
        $('#id_password').attr('placeholder', 'Password*');
      </script>
    </div>
    <div class="login-right">
    </div>
  </div>
</div>
{% endblock %}
