{% extends "base.html" %}

{% block title %}
Login Here
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}


<div class="login-wrapper">
  <div class="login">
    <div class="login-left">
      <form id="register-form" method="POST" class="form-group">
        <h1>Reset Password</h1>
        <p class='mb-5'>Enter your email address associated with your account and we will send you a link to reset your password.</p>
           {% csrf_token %}
           {{form|crispy}}
        <button id="register-button" type="submit" class="btn btn-success">Sign in</button>
        <p style='clear: both; color: black; font-size: 17px; font-family: "Trade Gothic LT W05 Roman"'>Not Registered? <a href="{% url 'register' %}" style='font-size: 17px; font-family: "Trade Gothic LT W05 Roman"'>Sign up</a></p>
      </form>
      <script>
        $('#id_email').attr('placeholder', 'Email Address*');
      </script>
    </div>
    <div class="login-right">
    </div>
  </div>
</div>
{% endblock %}
