{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="section-break">
  <h1>Alexander Academy</h1>
  <h2>Next Section: Math with Calculator</h2>
  <p>This is the second break between the math no-calc and math with calc section.
     You will be given 5 minutes before the next sections begin automatically. If
     you would like to continue before time's up, you may click the button below and continue
     the examination.
  </p>

  <form id="break-form" class="mt-3 mb-3">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary mt-3">Continue</button>
  </form>

  <!-- REALLY BAD WAY TO PASS THE VALUE TO JS -->

</div>

<p id="next-section">math2</p>
<style>
  #next-section {
    visibility: hidden;
  }
</style>

<script src="{% static 'break.js' %}" defer></script>

{% endblock content %}
