{% extends "base.html" %}

{% load static %}

{% block title %}
Exam List
{% endblock title %}

{% block nav %}
  <li class="active"><a href="{% url 'exams:index' %}">Home</a></li>
  <li><a href="#about">About</a></li>
  <li><a href="./blog">Blog</a></li>
  <li><a href="#contact">Contact</a></li>
{% endblock %}

{% block content %}


<!-- Modal -->
<div class="modal fade" id="sectionStartModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Start Section?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modal-body-confirm"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
        <button type="button" id="start-button" class="btn btn-success">Yes</button>
      </div>
    </div>
  </div>
</div>

<div class="h1">Exam List</div>
<hr>
{% for obj in object_list %}
  <p>{{obj.name}}'s Sections: {{obj.section_set.all}} </p>
  <button
      class="btn btn-link modal-button"
      data-pk="{{obj.pk}}"
      data-exam="{{obj.name}}"
      data-questions="{{obj.num_questions}}"
      data-time="{{obj.time}}"
      data-toggle="modal"
      data-target="#sectionStartModal">
      {{obj.name}}
    </button>
    <br>
{% endfor %}


<script src="{% static 'assets/js/exam_list.js' %}" defer></script>
<!--<script src="{% static 'exam_list.js' %}" defer></script>
-->
{% endblock content %}
