
{% extends "base.html" %}

{% load static %}

{% block title %}
Exam List
{% endblock title %}

{% block content %}

<div class="exam-list-container">
  <div class="exam-list">
  <div class="exam-list-inner-container">
    <select id="select-exam" name="exam-titles" onchange="filterExamType()" style='display: none'>
      <option id="sat-option" value="SAT Mock Exams" selected>SAT Mock Exams</option>
      <option id="act-option" value="ACT Mock Exams">ACT Mock Exams</option>
      <option id="diagnostic-option" value="SAT/ACT Diagnostic Test">SAT/ACT Diagnostic Test</option>
    </select>

    <p>Select the test or section you would like to work on and click START to begin.</p>
    {% for exam, sections_completed, num_sections in exam_info %}
    <button id="{{exam.name}}-btn" data-exam-name="{{exam.name}}" data-exam-type="{{exam.type}}" data-exam-pk="{{exam.pk}}" class="btn btn-link modal-button choose-exam-btn"
      onclick="getExamDetails(this.id)">
      <span>{{exam.name}}</span><br><span><span id="{{exam.pk}}-sections-completed" style="all:unset;">{{ sections_completed }}</span> of {{num_sections}} sections completed</span>
      <i class="arrow right"></i>
    </button>
    <br>
    {% endfor %}
  </div>
</div>

  <div class="exam-details">
  <div class='exam-details-inner-container'>
    <div id="guide-msg" class="exam-details-header">
      <h1>Select an exam on the left to get started!</h1>
    </div>
    {% for exam in exams %}
    <!-- Open Exam Breakdown (Score Report) Modal -->
    <div class="modal fade" id="openExam{{exam.pk}}BreakdownModal" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">{{exam.name}} Breakdown</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span class='material-icons' aria-hidden="true">close</span>
            </button>
          </div>
          <div class="modal-body">
            You must finish the entire exam before viewing your complete breakdown.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Continue</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Exam Reset Confirmation Modal -->
    <div class="modal fade" id="exam{{exam.pk}}ResetConfirmationModal" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">{{exam.name}} Reset Confirmation</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span class='material-icons' aria-hidden="true">close</span>
            </button>
          </div>
          <div class="modal-body">
            Are you sure you want to reset this exam? You cannot undo this action.
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary" onclick="resetExam({{exam.id}}, '{{exam.name}}-btn')" data-dismiss="modal">Yes, reset exam</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">No, go back</button>
          </div>
        </div>
      </div>
    </div>

    <div id="{{exam.name}}-details" style="display: none">
      <div class="exam-details-header">
        <div id="exam-details-header-inner">
          <h1>{{exam.name}}</h1>
          <div class='section-time'>
            <span class="material-icons material-icons-outlined">
              schedule
            </span>
            <div class='section-time-btns'>
              <button id="{{exam.pk}}-regular-time-btn" onclick="changeSectionTime('regular', {{exam.pk}}, this)">Regular</button>
              <button id="{{exam.pk}}-extended-time-btn" onclick="changeSectionTime('extended', {{exam.pk}}, this)">Extended</button>
            </div>
          </div>
        </div>
      </div>
      <div class="section-details-wrapper">
        <!-- <div class='ca-notice'>You must finish all sections of this exam to view a complete score breakdown.</div> -->
        {% for section in exam.get_sections %}
        <div class="section-details">
          <div class='reading-min-container' style='margin-right: 20px;'>
            <div class='reading-min'>
              <span>{{section.time}}<br>
                <div class='min-size'>min</div>
              </span>
            </div>
          </div>
          <div style='flex-basis: calc(100% - 85px);'>
            <div style='display:flex; justify-content: space-between'>
              <h1>{{section.name}}</h1>
              <a id="exam{{exam.pk}}-{{section.type}}-review" class='view-mistakes-link'
                href="{% url 'exams:section-review-view' pk=exam.id section_name=section.type %}">View mistakes</a>
            </div>
            <div id="exam{{exam.pk}}-{{section.type}}-raw-score" class="exam-list-score-data">Raw Score: N/A</div>
            <div id="exam{{exam.pk}}-{{section.type}}-scaled-score" class="exam-list-score-data">Estimated Section Score: N/A</div>
            <div class="section-begin">
              <!--
              {% if section.get_section_instance %}
              <a id="exam{{exam.pk}}-{{section.type}}-start"
                href="{% url 'exams:section-view' pk=exam.id section_name=section.type %}"
                class="ca-btn begin"><span class="material-icons material-icons-round">play_arrow</span>Resume this section</a>
              {% else %}
              <a id="exam{{exam.pk}}-{{section.type}}-start"
                href="{% url 'exams:section-directions-view' pk=exam.id section_name=section.type %}"
                class="ca-btn begin">Begin this section</a>
              {% endif %}
              -->
              <a id="exam{{exam.pk}}-{{section.type}}-start"
                href="{% url 'exams:section-directions-view' pk=exam.id section_name=section.type %}"
                class="ca-btn begin">Begin this section</a>
              <p id="exam{{exam.pk}}-{{section.type}}-time-remaining" class="time-remaining">Timer goes here</p>
            </div>
            <a id="exam{{exam.pk}}-{{section.type}}-reset"
              href="{% url 'exams:section-reset-view' pk=exam.id section_name=section.type %}"
              class="ca-btn retake"><span class="material-icons material-icons-sharp">replay</span><span>Retake this
              section</span></a>
          </div>
        </div>
        {% endfor %}
        <div class="section-details">
          <!--
          <a href="{% url 'exams:start-exam-view' pk=exam.id %}" class="btn btn-primary">Begin this Exam</a>
          -->
          <!--
          <button type="button" data-toggle="modal" data-target="#exam{{exam.pk}}ResetConfirmationModal" class="btn btn-danger">Reset this Exam</button>
          -->
          <!-- trigger modal -->
          <a data-url="{% url 'results:render-pdf-view' pk=exam.id %}"
            data-modal-id="#openExam{{exam.pk}}BreakdownModal" class="btn green-btn" onclick="openBreakdown(this)">
            Your complete breakdowndw
          </a>
        </div>

      </div>
    </div>
    {% endfor %}
  </div>
  </div>
</div>
<script src="{% static 'dropdown-list.js' %}"></script>
<script>
  console.log('{{user}}')
  var csrf = "{{ csrf_token }}"
  const url = window.location.href
  var recentExam
  var recentExamType
  $.ajax({
    type: 'GET',
    async: false,
    url: `${url}recent-exam`,
    success: function(response) {
      console.log(response)
      recentExam = response.recent_exam
      recentExamType = response.recent_exam_type
      console.log(`Recent Exam Type: ${recentExamType}`)
    },
    error: function(error) {
      console.log(error)
    }
  })
</script>
<script src="{% static 'exam_list.js' %}"></script>
{% endblock content %}
