{% extends "base.html" %}

{% load static %}

{% block title %}
{{section.name}}
{% endblock title %}

{% block content %}

<div class="section-wrapper">
  <div class="section-header">
    <h1>{{exam.name}} - {{section.type | title}}</h1>
    <div id="header-timer">
      <button id="pause-btn">
      </button>
      <p id="section-timer">TIME GOES HERE</p>
      <p>Minutes: {{minutes_remaining}}</p>
      <p>Seconds: {{seconds_remaining}}</p>
    </div>
  </div>
  <hr>
  <div id="section-content" class="mt-3 mb-3">
    <div id="section-material">
      <!-- DYNAMICALLY ADDED IMAGES FROM section.js HERE -->
    </div>
    <form id="section-form" class="ml-3">
      {% csrf_token %}
      <div id="section-box">
      </div>
      <!-- Modal -->
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Are you sure you would like to finish this section?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Once you finish, scores for this section will be uploaded to your account.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">No, continue working</button>
              <button type="submit" class="btn btn-primary">Yes, finish section</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" id="prev-passage" onClick="getPassage('prev')">
        Previous Passage
      </button>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
        Finish this section
      </button>
      <button type="button" class="btn btn-primary" id="next-passage" onclick="getPassage('next')">
        Next Passage
      </button>
    </form>

    <div class="question-tracker">
      <h3>Questions</h3>
      {% for question in questions %}
      <div>
        <img src= "{% static 'assets/img/unanswered.png' %}"
        <p id="question{{question.question_number}}">Question {{ question.question_number }}</p>
      </div>


      {% endfor %}
    </div>

</div>
<script src="{% static 'passage_section.js' %}" defer></script>
<script>
  const sectionTimer = document.getElementById('section-timer')
  const timerBtn = document.getElementById('pause-btn')
  const timerText = document.getElementById('section-timer')

  var isTimerOn = true
  var distance = {{ minutes_remaining }} * 60000 + {{ seconds_remaining }} * 1000
  var hours
  var minutes
  var seconds

  window.addEventListener('unload', (ev) => {
    console.log(ev);
    saveTimer(ev);

  })

  function saveTimer(ev) {
    minutesRemaining = minutes
    secondsRemaining = seconds

    var data = new FormData();
    data.append('csrfmiddlewaretoken', '{{csrf_token}}');
    data.append('minutes', minutesRemaining);
    data.append('seconds', secondsRemaining);
    
    navigator.sendBeacon(`${url}save-timer`, data);
    console.log(data);
  }


  //start the timer
  var timer = setInterval(startTimer, 1000);

  timerBtn.addEventListener('click', function() {
    if (isTimerOn) {
      stopTimer();
      timerBtn.style.backgroundImage = "url({% static 'assets/img/start-btn.png' %})"
      isTimerOn = false;
    }
    else if (!isTimerOn) {
      timer = setInterval(startTimer, 1000);
      timerBtn.style.backgroundImage = "url({% static 'assets/img/pause-btn.png' %})"
      isTimerOn = true;
    }
  })

  function startTimer() {
    var now = new Date().getTime();

    distance -= 1000

    hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    seconds = Math.floor((distance % (1000 * 60)) / 1000);

    if (hours > 0) {
      minutes += 60;
    }
    // Display the result in the element with id="demo"
    timerText.innerHTML = minutes + " Minutes, " + seconds + " Seconds ";

    if (minutes < 5) {
      timerText.style.color = '#7D120B';
    }
    if (distance < 0) {
      clearInterval(timer);
      sendData();
      timerText.innerHTML = "EXPIRED";
    }
  }

  function stopTimer() {
    clearInterval(timer);
  }
</script>

{% endblock content %}
