{% extends "base.html" %}

{% load static %}

{% block title %}
Problem Database
{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{% static 'styles/problem_database.css' %}">
{% endblock styles %}

{% block content %}
<script>
  $('body').css('height', 'auto')
</script>

<div class="section-wrapper">
  <div class="problem-database-header">
    <h1>Problem Database</h1>
    <div class="problem-categories-container">
      {% for category in category_data %}
        <button 
          class="problem-categories-button" 
          data-category="{{ category.key }}"
          onclick="getProblemData('{{ category.key }}')"
        >
          {{ category.value }}
        </button>
      {% endfor %}
    </div>
  </div>

  <div id="section-content">
    <form id="section-form">
      {% csrf_token %}
      <div id="section-box">
      </div>
    </form>
  </div>
</div>

<script src="{% static 'problem_database.js'%}" defer></script>
<script>
  const dataUrl = "{% url 'exams:problem-database-data-view' %}";
</script>
{% endblock content %}