{% extends "base.html" %} {% load static %} {% block title %} Problem Database
{% endblock title %} {% block styles %}
<link rel="stylesheet" href="{% static 'styles/problem_database.css' %}" />
{% endblock styles %} {% block content %}
<script>
  $("body").css("height", "auto");
</script>

<div class="section-wrapper">
  <div class="problem-database-header">
    <h1>Problem Database</h1>
    <div class="select-container">
      <p>Select an exam</p>
      <select
        id="select-exam"
        style="display: none"
      >
        <option value="SAT">SAT Exam Questions</option>
        <option value="ACT">ACT Exam Questions</option>
      </select>
    </div>
    <div class="select-container">
      <p>Select type of question</p>
      <select
        id="select-exam"
        style="display: none"
      >
        <option value="MATH">Math</option>
        <option value="GRAMMAR">Grammar</option>
      </select>
    </div>
    <div id="button-container" class="problem-categories-container">
      {% for category in category_data %}
      <button
        class="problem-categories-button"
        name="problem-categories-button"
        data-category="{{ category.key }}"
        onclick="getProblemData('{{ category.key }}')"
      >
        {{ category.value }}
      </button>
      {% endfor %}
    </div>
  </div>

  <div id="problem-database-content">
    <div id = "section-material">
    </div>
    <form id="problem-database-form">
      {% csrf_token %}
      <div id="section-box"></div>
      <div id='problem-database-passage-navigation'>
        <a id="prev-passage" role='button' onclick="getPassageData('prev')"><span class="material-icons">
        navigate_before
        </span></a>
        <span id="passage-num" class='passage-navigation-text font-weight-bold'>Passage VAR of VAR</span>
        <a id="next-passage" role='button' onclick="getPassageData('next')"><span class="material-icons">
          navigate_next
        </span></a>
      </div>
    </form>
  </div>
</div>

<script src="{% static 'problem_database.js'%}" defer></script>
<script src="{% static 'dropdown-list.js' %}"></script>
<script>
  const dataUrl = "{% url 'exams:problem-database-data-view' %}";
  const buttonDataUrl = "{% url 'exams:problem-database-button-data-view' %}";
  const hideAnswerUrl = "{% static 'img/answer-hide.svg' %}";
  const showAnswerUrl = "{% static 'img/answer-show.svg' %}";
</script>
{% endblock content %}
