{% extends "base.html" %}

{% load static %}

{% block title %}
Section Directions
{% endblock title %}

{% block content %}
<div class="transition-page-wrapper">
   <br><br><br>
  <h1 style='font-size: 28px;'><b>Section Directions</b></h1>
  <br>
  {% if section.type == "reading" %}
  <p>Each passage or pair of passages below is followed by a number of questions. After reading
     each passage or pair, choose the best answer to each question based on what is stated or
     implied in the passage or passages and in any accompanying graphics (such as a table or graph).</p>
     <a href="{% url 'exams:section-view' pk=exam.id section_name='reading' %}">Continue</a>
  {% elif section.type == "writing" %}
  <p>Each passage below is accompanied by a number of questions. For some questions, you will consider
     how the passage might be revised to improve the expression of ideas. For other questions,
     you will consider how the passage might be edited to correct errors in sentence structure, usage,
     or punctuation. A passage or a question may be accompanied by one or more graphics (such as a table or graph)
     that you will consider as you make revising and editing decisions. </p>
  <p>Some questions will direct you to an underlined portion of a passage. Other questions will direct
     you to a location in a passage or ask you to think about the passage as a whole.
     After reading each passage, choose the answer to each question that most effectively improves the quality
     of writing in the passage or that makes the passage conform to the conventions of standard written English.
     Many questions include a “NO CHANGE” option. Choose that option if you think the best choice is to leave
     the relevant portion of the passage as it is. </p>
     <a href="{% url 'exams:section-view' pk=exam.id section_name='writing' %}">Continue</a>
  {% elif section.type == "math1" %}
  <p>For questions 1-15, solve each problem, choose the best answer from the choices provided, and
     fill in the corresponding circle on your answer sheet. For questions 16-20, solve the problem and enter
     your answer in the grid on the answer sheet. Please refer to the directions before question 16 on how to
      enter your answers in the grid. You may use any available space in your test booklet for scratch work.</p>
     <a href="{% url 'exams:section-view' pk=exam.id section_name='math1' %}">Continue</a>
  {% elif section.type == "math2" %}
  <p>For questions 1-30, solve each problem, choose the best answer from the choices provided, and fill in the
     corresponding circle on your answer sheet. For questions 31-38, solve the problem and enter your answer in
     the grid on the answer sheet. Please refer to the directions before question 31 on how to enter your answers
     in the grid. You may use any available space in your test booklet for scratch work.</p>
     <a href="{% url 'exams:section-view' pk=exam.id section_name='math2' %}">Continue</a>
  {% endif %}
</div>

{% endblock content %}
