{% extends "base.html" %}

{% load static %}

{% block title %}
{{section.name}}
{% endblock title %}

{% block content %}
<script>
  $('body').css('height', 'auto')
</script>

<!-- Pause Section Modal  -->
<div class="modal fade" id="pauseSectionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Your exam is paused and your timer has stopped</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class='material-icons' aria-hidden="true">close</span>
        </button>
      </div>
      <div class="modal-body">
        To continue your exam please click resume.
      </div>
      <div class="modal-footer">
        <a href="{% url 'exams:exam-list-view' %}" class="btn btn-secondary">Leave exam</a>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Resume</button>
      </div>
    </div>
  </div>
</div>

<!-- Finish Section Modal -->
<div class="modal fade" id="finishSectionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Are you sure you would like to finish this section?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class='material-icons' aria-hidden="true">close</span>
        </button>
      </div>
      <div class="modal-body">
        Once you finish, scores for this section will be uploaded to your account.
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#finishSectionConfirmationModal">Yes, finish section</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No, continue working</button>
      </div>
    </div>
  </div>
</div>

<!-- Finish Section Confirmation Modal -->
<div class="modal fade" id="finishSectionConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        {% if section.type == 'math2' %}
        <h5 class="modal-title" id="exampleModalLongTitle">Congratulations!</h5>
        {% else %}
        <h5 class="modal-title" id="exampleModalLongTitle">How would you like to proceed?</h5>
        {% endif %}
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class='material-icons' aria-hidden="true">close</span>
        </button>
      </div>
      <div class="modal-body">
        {% if section.type == 'math2' %}
        You have finished {{ exam.name | title }}. Please return to the home page to view your results.
        {% else %}
        Scores for this section are being uploaded to your account homepage.
        {% endif %}
      </div>
      <div class="modal-footer">
        {% if section.type == 'math2' %}
        <button onclick="sendData(false)" class="btn btn-primary">Back to account homepage</button>
        {% else %}
        <button onclick="sendData(true)" class="btn btn-primary">Next section</button>
        <button onclick="sendData(false)" class="btn btn-secondary">Back to account homepage</button>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<!-- Times Up Modal (disabled clicking the backdrop to exit) -->
<div class="modal fade" data-keyboard="false" data-backdrop="static" id="timesUpModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Times up!</h5>
      </div>
      <div class="modal-body">
        {% if section.type == 'math2' %}
        Congraduations! You have finished {{exam.name | title}}. Please return to the home page to view your results.
        {% else %}
        There is no more time remaining for this section. Would you like to move on to the next section?
        {% endif %}
      </div>
      <div class="modal-footer">
        {% if section.type == 'math2' %}
        <button onclick="sendData(false)" class="btn btn-primary" data-dismiss="modal">Return to home</button>
        {% else %}
        <button onclick="sendData(true)" class="btn btn-primary">Next section</button>
        <button onclick="sendData(false)" class="btn btn-secondary" data-dismiss="modal">Back to account homepage</button>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<div class="section-wrapper">
  <div class="section-header">
    <h1>{{exam.name}} - {{section.type | title}}</h1>
    <div id="header-timer">
      <!-- 'correct_answers' is only passed to the template when in review mode -->
      {% if not correct_answers %}
        <!-- Timer -->
        <!-- <button id="pause-btn" data-toggle="modal" data-target="#pauseSectionModal" onclick="toggleTimer()"></button> -->
        <span id="pause-btn" class="material-icons material-icons-outlined" data-toggle="modal" data-target="#pauseSectionModal" onclick="toggleTimer()">
          pause_circle_filled
          </span>
        <p id="section-timer">TIMER</p>
      {% endif %}
    </div>
  </div>
  
  <div id="section-content">
    {% if not correct_answers %}
    <button type="button" class="btn btn-primary finish-this-section-btn" data-toggle="modal" data-target="#finishSectionModal">
      Finish section
    </button>
    {% endif %}
    {% if 'math' not in section.type %}
    <div id="section-material">
      <!-- DYNAMICALLY ADDED IMAGES FROM section.js HERE -->
    </div>
    {% endif %}
    <form id="section-form">
      {% csrf_token %}
      <div id="section-box">
      </div>
      <!-- Button trigger modal -->
      {% if 'math' not in section.type %}
      <div class='passage-navigation'>
        <a id="prev-passage" role='button' onclick="getPassage('prev')"><span class="material-icons">
        navigate_before
        </span></a>
        <span id="passage-num" class='passage-navigation-text font-weight-bold'>Passage VAR of VAR</span>
        <a id="next-passage" role='button' onclick="getPassage('next')"><span class="material-icons">
          navigate_next
        </span></a>
      </div>
      {% endif %}
    </form>

    <div class="question-tracker">
      <h3>Questions</h3>
      {% for question in questions %}
      <div style='display: none'>
        <!--
        <span class="material-icons material-icons-round">
          check
        </span>
      -->
      <span class="material-icons checkmark" style='opacity: 1;'>done</span>
        <p id="question{{question.question_number}}">
          Question {{ question.question_number }}
        </p>
      </div>
      {% endfor %}
    </div>
    {% if not correct_answers %}
    <script>
      $('.question-tracker > div').show();
    </script>
    {% else %}
    <script>
    $('.question-tracker').css('height', 'calc(100vh - 200px)');
    </script>
    {% endif %}
  </div>
</div>
{% if correct_answers %}
<script src="{% static 'section_review.js' %}" defer></script>
{% else %}
<script src="{% static 'section.js' %}" defer></script>
{% endif %}

<!-- ONLY RUN THE TOP SCRIPT WHEN IN REVIEW MODE (don't need a timer during review) -->
{% if correct_answers %}
<script>
  const isMathSection = ('{{ section.type|safe }}'.includes('math')) ? true : false
  const correctAnswers = {{ correct_answers | safe }}
  const maxPassages = {{ section.num_passages }}
  console.log(correctAnswers)
</script>
{% else %}
<script>
  /* Cannot pass Django templates to JavaScript files, so the timer and other features using
     template variables are all implemented in this script tag
  */
  const examType = '{{ exam.type }}'
  const isMathSection = ('{{ section.type|safe }}'.includes('math')) ? true : false
  const maxPassages = {{ section.num_passages }}
  const sectionTimer = document.getElementById('section-timer')
  const timerBtn = document.getElementById('pause-btn')
  const timerText = document.getElementById('section-timer')

  var isTimerOn = true
  var distance = {{ minutes_remaining }} * 60000 + {{ seconds_remaining }} * 1000
  var hours
  var minutes
  var seconds

  // saves timer when the user exits the page
  window.addEventListener('unload', (ev) => {
    saveTimer(ev);
  })

  //start the timer
  var timer = setInterval(startTimer, 1000);

  // toggles the timer when pause modal is closed
  $('#pauseSectionModal').on('hide.bs.modal', function() {
    toggleTimer()
  })

  function toggleTimer() {
    if (isTimerOn) {
      stopTimer();
      //timerBtn.style.backgroundImage = "url({% static 'assets/img/start-btn.png' %})"
      isTimerOn = false;
    }
    else if (!isTimerOn) {
      timer = setInterval(startTimer, 1000);
      //timerBtn.style.backgroundImage = "url({% static 'assets/img/pause-btn.png' %})"
      isTimerOn = true;
    }
  }

  function startTimer() {
    var now = new Date().getTime();

    distance -= 1000

    hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    seconds = Math.floor((distance % (1000 * 60)) / 1000);

    if (hours > 0) {
      minutes += 60;
    }
    // Display the result in the element with id="demo"
    timerText.innerHTML = minutes + " Minutes, " + seconds + " Seconds ";

    if (minutes < 5) {
      timerText.style.color = '#7D120B';
    }
    if (distance < 0) {
      clearInterval(timer);

      //display the times up modal
      $('#timesUpModal').modal()
      timerText.innerHTML = "TIMES UP";
    }
  }

  function stopTimer() {
    clearInterval(timer);
  }

  function saveTimer(ev) {
    minutesRemaining = minutes
    secondsRemaining = seconds

    var data = new FormData();
    data.append('csrfmiddlewaretoken', '{{csrf_token}}');
    data.append('minutes', minutesRemaining);
    data.append('seconds', secondsRemaining);

    navigator.sendBeacon(`${url}save-timer`, data);
    console.log(data);
  }
</script>
{% endif %}

{% endblock content %}
