{% extends "base.html" %}

{% load static %}

{% block title %}
Start Exam
{% endblock title %}

{% block content %}
<div class="transition-page-wrapper">
  <h1>Welcome to {{exam.name}}</h1>
  <p>{{exam.name}} is a full length mock SAT exam. For a realistic assessment, we recommend taking the
     test in a single sitting, in a quiet place, and strictly abiding by the time constraints. Students can
     choose to submit a section at any time, or pause the test if needed, and answer choices are saved automatically
     as you go.
  </p>
  <p>Section scores are uploaded directly to your account upon completing each section, and a full score breakdown
     upon completing the test.</p>
  <a href="{% url 'exams:section-directions-view' pk=exam.id section_name='reading' %}">Start exam</a>
</div>


{% endblock content %}
