{% extends "base.html" %}

{% load static %}

{% block title %} Home {% endblock title %}

<!--
{% block nav %}
  <li class="active"><a href="{% url 'exams:index' %}">Home</a></li>
  <li><a href="#about">About</a></li>
  <li><a href="./blog">Blog</a></li>
  <li><a href="#contact">Contact</a></li>
{% endblock %}
-->

{% block content %}
<!-- ======= Hero Section ======= -->
<div id="hero">
  <div class="container position-relative">
    <div class="row justify-content-center">
      <div id="hero-text-wrapper" class="col-xl-7 col-lg-9 text-center">
        <h1>Welcome to Alexander Academy's<br> SAT/ACT Mock Exam App!</h1>
        <br>
          <a class='ca-get-started-btn' href="{% url 'exams:exam-list-view' %}">
            <div class='get-started-txt'>Get Started</div>
            <span class="material-icons">
            arrow_forward
            </span>
            </a>

      </div>
    </div>
    <div class="text-center" style='display: none'>
      <a href="{% url 'exams:exam-list-view' %}" class="btn-get-started scrollto">Take Exam!</a>
      <a href="{% url 'register' %}" class="btn-get-started scrollto">Sign Up!</a>
      <a href="{% url 'exams:file-upload' %}" class="btn-get-started scrollto">Upload to Database</a>
      <a href="{% url 'results:render_pdf_of_results' %}" class="btn-get-started scrollto" target='_blank'>View PDF of Results</a>
    </div>


  </div>
</div>


{% endblock content %}
