.problem-database-header {
    padding-top: 50px;
    z-index:3;
    max-width: 1250px;
}

.select-container {
    width: 25%;
    margin-left: 15px;   
}

.select-container p {
    margin-left: -15px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.problem-database-header h1 {
    font-family: 'Trade Gothic LT W05 Bold';
    font-size: 37px;
  }

.problem-categories-container {
    margin-top: 50px;
    margin-bottom: 25px;
    border-bottom: 1px solid #949494;
    padding-bottom: 10px;
}

.problem-categories-button {
    background-color: #fafafa;
    border: 1.05px solid #BDCFD0;
    border-radius: 5px;
    padding: 9px 21px 10px 21px;
    margin-right: 30px;
    margin-bottom: 16px;
    color: black;
}

.question-tag {
    color: #818181;
    font-size: 14px;
}
.problem-categories-button:hover {
    background-color: #e8e8e8;
}
.problem-categories-button-selected {
    background-color: #66A1A5;
    border: 1.05px solid #66A1A5;
    border-radius: 5px;
    padding: 9px 21px 10px 21px;
    margin-right: 30px;
    margin-bottom: 16px;
    color: white;
}

.problem-database-question-container {
    padding: 35px;
    background-color: #fafafa;
    border-radius: 20px;
    border: 2px solid #66A1A5;
    margin-bottom: 50px;
    margin-left: 15%;
    margin-right: 15%;
}

.problem-categories-button-selected:hover {
    background-color: #87c5c9;
}

/* #section-form {
    overflow-y: scroll;
    height: calc(100vh - 169px);
    flex-basis: 43%;
    padding: 28px 21px;
    border-right: 1px rgb(192,192,192) solid;
  }
  
  #section-form img {
    width: 95%;
    max-width: 500px;
    height: auto;
    display: block;
    margin: auto;
  } */
.math-material {
    max-width: 80%;
}
#section-box {
    display: flex;
    flex-direction: column;
    align-content: center;
}
#problem-database-form img {
    max-height: 300px;
    width: auto;
    height: auto;
    display: block;
    margin: auto;
}

.question-hide-show-img {
    margin: 5px 0px 5px 0px !important;
}  

.question-hide-show-img:hover {
    cursor: pointer;
    background-color: #e8e8e8;
    border-radius: 5px;
}